.sidebar{
    padding: 13px 0 13px 0;
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    .logo{
        padding: 0 11px 15px 8px;
    }
    .sidebar-icons{
        .sidebar-icons-wrapper{
            padding: 15px 11px 15px 8px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &.active{
                position: relative;
                img{
                    filter: brightness(0) saturate(100%) invert(18%) sepia(13%) saturate(2717%) hue-rotate(181deg) brightness(92%) contrast(89%);
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 3px;
                    height: 38px;
                    background: #24375B;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    visibility: visible;
                    transition: all .2s ease-in-out;
                }   
            }
            &:hover{
                img{
                    filter: brightness(0) saturate(100%) invert(18%) sepia(13%) saturate(2717%) hue-rotate(181deg) brightness(92%) contrast(89%);
                }
                &::before{
                    visibility: visible;
                }     
            }
            &::before{
                position: absolute;
                content: "";
                width: 3px;
                height: 38px;
                background: #24375B;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                visibility: hidden;
            }
        }
    }
}