<div class="sidebar">
    <div class="logo">
        <a href=""><img src="assets/images/rps-logo.svg" alt="logo"></a>
    </div>
    <div class="sidebar-icons">
        <div class="sidebar-icons-wrapper">
            <a href=""><img src="assets/images/Icon_dashboard.svg" alt=""></a>
        </div>
        <div class="sidebar-icons-wrapper">
            <a href=""><img src="assets/images/Icon_workflow.svg" alt=""></a>
        </div>
        <div class="sidebar-icons-wrapper active">
            <a href=""><img src="assets/images/Icon_calendar.svg" alt=""></a>
        </div>
        <div class="sidebar-icons-wrapper">
            <a href=""><img src="assets/images/Icon_list.svg" alt=""></a>
        </div>
        <div class="sidebar-icons-wrapper">
            <a href=""><img src="assets/images/Icon_report.svg" alt=""></a>
        </div>
        <div class="sidebar-icons-wrapper">
            <a href=""><img src="assets/images/Icon_cog.svg" alt=""></a>
        </div>
        <div class="sidebar-icons-wrapper">
            <a href=""><img src="assets/images/Icon_info.svg" alt=""></a>
        </div>
    </div>
</div>